* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animation-pulse {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.cursor-pointer {
  cursor: pointer;
}
